{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block  mainpage %}
<div style="background:#ffffff;height:100vh">
<img class="profilepic"
src="https://res.cloudinary.com/gautamportfolio/image/upload/v1666884215/bluebgpic_v2miwz.png"
alt="Profile Pic" />

<h1 class="home-name">Gautam Bhagat <i class="bi bi-patch-check-fill verify-icon"></i></h1>
<h4 style="text-align: center;">
<i class="fa-solid fa-code"></i> Coder&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa-solid fa-graduation-cap"></i> Student&nbsp;&nbsp;&nbsp;&nbsp;
<i class="fa-solid fa-palette"></i> Designer
</h4>

<p class="about">
Hey there, I'm Gautam !!<br>
Currently pursuing my <b>Bachelors <i class="fa-solid fa-building-columns"></i></b><br>
Software Development / AI &amp; ML / Web Developement / Android <br>
Here you can find <b>ML Projects</b> of mine<br>
I'm open for collaborations in <b>Data Science, AI &amp; ML</b> domains 🤝🏻 
</p>

<h1 class="footer-links">

<a target="_blank" href="https://bit.ly/3SBH7BS"><i class="fa-brands fa-linkedin"></i></a>&nbsp;&nbsp;&nbsp;
<a target="_blank" href="https://github.com/mrgautambhagat"><i class="fa-brands fa-github"></i></a>&nbsp;&nbsp;&nbsp;
<a target="_blank" href="https://www.instagram.com/gautam.bhagat_/"><i class="fa-brands fa-instagram"></i></a>&nbsp;&nbsp;&nbsp;
<a  href="mailto:gautambhagat.business@gmail.com"><i class="fa-solid fa-envelope"></i></a>

</h1>
</div>
{% endblock mainpage %}